<p id="notice"><%= notice %></p>

<p>
  <h2><%= @video.title %></h2>
</p>

<p>
  <video controls>
  <source src="<%= url_for(@video.blob) %>" type="video/mp4">
  </video>
</p>

<p>
  <strong>Description:</strong>
  <%= @video.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @video.date.strftime("%B %-d, %Y") %>
</p>

<%= link_to 'Back', videos_path %> 
<% if current_user.admin? %>
  | <%= link_to 'Edit', edit_video_path(@video) %>
  | <%= link_to 'Delete', video_path(@video),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
<% end %>
